/* ENTIRE FORM */
html {
  font-family: "Raleway", sans-serif;
  min-width: 300px;
}
/*orange - e86742
blue - 2f537d
yellow - f5af41
pink - ea7278*/

#header {
  background: #ea7278;
  margin-bottom: 5%;
  display: block;
  position: static;
}

body {
  background: #2f537d;
  width: 100vw;
  margin: auto;
  min-width: 500px;
}

#add-todo {
  margin-bottom: 30px;
}

#input-field {
  width: 70%;
  height: 40px;
  border-radius: 10px;
  font-size: 2em;
  color: #ea7278;
  margin-left: 20px;
  background: none;
  padding: 3px;
  border: 2px #f5af41 solid;
  font-family: "Raleway", sans-serif;
}

#input-field:focus {
  outline: 1px #e86742;
  border: 1px solid #e86742 !important;
  box-shadow: 0 0 3px #e86742 !important;
  -moz-box-shadow: 0 0 3px #e86742 !important;
  -webkit-box-shadow: 0 0 3px #e86742 !important;
}

@media (max-width: 500px) {
  #input-field {
    width: 60%;
  }
}

#input-button {
  width: 50px;
  float: right;
  height: 50px;
  font-size: 1.6em;
  border-radius: 10px;
  margin-right: 20px;
  background: none;
  color: #f5af41;
  border: 2px #f5af41 solid;
}
/* TO DO TEXT */
.todo-text {
  font-size: 1.6em;
}

#todo-unit {
  height: 50px;
  margin-bottom: 10px;
  margin-left: -20px;

  height: 45px;
  font-size: 1.2em;
  color: #ea7278;
  background: none;
  padding: 3px;
  /*
  border-radius: 10px;
  border: 2px #ea7278 solid;
  margin-right: 20px;
  */
}

/* MARK BUTTON */

.mark-button {
  width: 50px;
  float: right;
  height: 50px;
  font-size: 1.6em;
  border-radius: 10px;
  margin-right: 17px;
  background: none;
  color: #f5af41;
  border: 2px #f5af41 solid;
}

.mark-button-green {
  width: 50px;
  float: right;
  height: 50px;
  font-size: 1.6em;
  border-radius: 10px;
  margin-right: 17px;
  background: green;
  color: #f5af41;
  border: 2px #f5af41 solid;
}

.delete-button {
  width: 50px;
  float: right;
  height: 50px;
  font-size: 1.6em;
  border-radius: 10px;
  margin-right: 17px;
  background: none;
  color: #f5af41;
  border: 2px #f5af41 solid;
  background-color: ;
}

#todo-block {
  list-style: none;
}

.centre {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
